header {
  background-image: url("./assets/bg/bg-1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav .menu-btn {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.box {
  padding-top: 5%;
}

nav .list {
  display: none;
  background-color: rgba(75, 75, 75, 0.146);
  border-radius: 10px;
  height: 80vh;
}

nav .list.active {
  display: block;
}

nav .container-fluid .row:nth-child(2) .col-sm-6 ul {
  overflow-y: scroll;
}

nav .container-fluid .row:nth-child(2) .col-sm-6 ul::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
}

nav .container-fluid .row:nth-child(2) .col-sm-6 ul::-webkit-scrollbar-thumb {
  background-color: rgb(99, 99, 99);
  border-radius: 20px;
}

nav .container-fluid .row:nth-child(2) .col-sm-6 ul li {
  list-style-type: none;
  transition: 0.5s;
}

nav .container-fluid .row:nth-child(2) .col-sm-6 ul:hover {
  background-color: #0000005e;
}

nav .container-fluid .row:nth-child(2) .col-sm-6 ul li a {
  text-decoration: none;
  color: #868686;
  transition: 0.5s;
}

nav .container-fluid .row:nth-child(2) .col-sm-6 ul li a:hover {
  color: #fff;
  font-size: 40px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 50px;
  border-radius: 50%;
  transition: 0.5s;
  animation: MoveUpDown 1s linear infinite;
}

.icon:hover {
  transform: translateY(10px);
  padding-top: 2%;
  cursor: pointer;
  animation: none;
}

.planet li {
  list-style-type: none;
}

.planet li sup {
  font-size: 9px;
}

.planet-img {
  height: 350px;
  cursor: pointer;
}

section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/bg/1.jpg");
  background-size: cover;
  background-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .planet-img {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media all and (max-width: 998px) {
  .custom-box {
    flex-direction: column;
  }
}
